.App {
  text-align: center;
  max-width: 200px;
}

.App-intro {
  font-size: large;
}

h1{
  display: inline-block;
}
.aling_right {
    justify-content: flex-end;
    display: flex;
    margin-bottom: 10px;
}
button{
  margin:5px;
}